
/** tags **/
ul  
{
    margin-top: 1px; 
    margin-bottom: 1px;
}
fieldset
{
    margin:0px 3px 0px 0px;
    border-color:orange;
    padding:0px 2px 5px 0px;
    border-width : 0px;
}
legend
{
    color:#FF0000;
    font-family : Verdana;
    font-size : 14px;   
    font-weight: bold; 
}
li
{
    line-height: 14px;
    list-style-type:none;
    font-family:Verdana; 
    font-size:12px;
    color: black;
}

a, #more
{
	cursor:pointer;
	text-decoration:none;
	color:#FFCC00;
}
a:hover, #more:hover
{
	text-decoration:underline;
	color:#CC9900;
	font-weight: bold;
}
a:visited
{
	/*color:#812020;*/
}

body
{
	background-color:green;
	padding-top: 0px;
	margin-top: 0px;
}

i
{
	padding-left: 9px;
}

div.SpacerBetweenFieldSets 
{
	clear: both; 
	margin-bottom: 15px;
}
	
/** ids **/ 
#MainBody
{
	width:620px;
    font-family:Verdana; 
    font-size:12px;
    color: black;
}

#Nav
{
	text-align:right;	
	padding: 0;
}

#NavSpacer
{
	display:none;
}
#HeaderLogo
{
    background-image: url('http://localhost/Sites/img/SitesLogo2.jpg);
    background-repeat:no-repeat; 
    background-color:transparent;
    height: 100px;
    width: 80px;
    float:right;
    position:absolute;
    left: 476px;
    top: 80px;
}
#HeaderText
{
    background-color:#87EF19;
    padding: 40px 10px 0 0;
    height: 60px;
    width: 200px;
    color:#CC3C15;
    font-family : Verdana;
    font-size : 18px;   
    font-weight: 900;  
    float:right;
    text-align:right;
    position:absolute;
    left: 265px;
    top: 80px;
    z-index: 100;
}
#HeaderSpacer
{
	display:none;
}
#col1
{
    background-color:#f1f2cd;
    text-align:left;
    position:absolute;
	width:300px;
    left: 600px;
    top: 100px;
	border: outset 2px silver;
}
#col1Spacer
{ 
	display:none;
}
#col2
{
    background-color:white;
    float:right;
    text-align:left;
    position:absolute;
    left: 2px;
    top: 2px;
    z-index: 10;
	width:300px;
	border: outset 2px silver;
}

#col2Spacer
{ 
	width:200px;
	height:200px;	
    background-image: url('http://localhost/Sites/img/SitesBackGround2.jpg'); 
	background-position:left;
    background-repeat: no-repeat;
    position:absolute;
    left: 50px;
    top: 250px;
	border: solid 2px red;
	margin:0px;
	z-index: 300;
}

	    
#col3
{
    background-color:#ccf3cc;
    text-align:left;
    position:absolute;
    left: 296px;
    top: 255px;
	width:300px;
	border: outset 2px silver;
    z-index: 15;
}	

#col3Spacer
{
	display:none; 
}

#Footer
{
	font-style:normal;
	text-align: center;
    background-color:transparent;
    padding: 0;
    height: 14px;
    width: 940px;
    color:Navy;
    font-family : Verdana;
    font-size : 10px;   
    font-weight: 900; 
    position:absolute;
    left: 10px;
    top: 670px;
}